body {
  justify-content:center;
}

button:focus
{
  color: #FFF;
  background: #9b4dca;
}

button:hover
{
  background: #606c76 !important;
}

#header
  {
	   margin: 0px auto;
     background: #9b4dca;
     padding: 1.5em;
     text-align: center;
     letter-spacing: 0.20em;
     text-decoration: none;
     font-size: 1.10em;
     font-weight: 600;
     text-transform: uppercase;
     outline: 0;
     color: #FFF;
  }

#question
  {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 4em;
  }

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  background: #9b4dca;
  padding: 1em;
  text-align: center;
  letter-spacing: 0.20em;
  text-decoration: none;
  font-size: 0.80em;
  font-weight: 600;
  color: #FFF;
  text-transform: uppercase;
}

#backButton
{
  width: 47em;
}

table
  {
    width: 90%;
    margin: 0 auto;
  }
